@page
@model WebKazmirenkoStudio.Pages.MeasureOfMeasurement.IndexModel

@{
    ViewData["Title"] = "Меры измерений";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Создать новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeasureOfMeasurement[0].Caption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MeasureOfMeasurement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Открыть</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
