@page
@model WebKazmirenkoStudio.Pages.Order.IndexModel
@using WebKazmirenkoStudio.Properties.Resources

@{
    ViewData["Title"] = ResourcesString.Order;
    ViewData["CreateNewRecord"] = ElementPageResource.CreateNewRecord;
    ViewData["EditCaption"] = ElementPageResource.EditCaption;
    ViewData["DetailsCaption"] = ElementPageResource.DetailsCaption;
    ViewData["DeletePage"] = ElementPageResource.DeletePage;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">@ViewData["CreateNewRecord"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].MakeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].DeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].ShippingСost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].StatusOrder.Caption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderModel[0].Contact.FIO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderModel) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MakeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingСost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusOrder.Caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.FIO)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">@ViewData["EditCaption"]</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">@ViewData["DetailsCaption"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">@ViewData["DeletePage"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
