@page
@model WebKazmirenkoStudio.Pages.MaterialConsumptionPlan.IndexModel
@using WebKazmirenkoStudio.Properties.Resources

@{
    ViewData["Title"] = ResourcesString.MaterialConsumptionPlan;
    ViewData["CreateNewRecord"] = ElementPageResource.CreateNewRecord;
    ViewData["EditCaption"] = ElementPageResource.EditCaption;
    ViewData["DetailsCaption"] = ElementPageResource.DetailsCaption;
    ViewData["DeletePage"] = ElementPageResource.DeletePage;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">@ViewData["CreateNewRecord"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaterialConsumptionPlanModel[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialConsumptionPlanModel[0].Warehouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialConsumptionPlanModel[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MaterialConsumptionPlanModel) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warehouse.RawMaterialCaption.Caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">@ViewData["EditCaption"]</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">@ViewData["DetailsCaption"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">@ViewData["DeletePage"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
