@page
@model WebKazmirenkoStudio.Pages.MaterialConsumptionFact.EditModel
@using WebKazmirenkoStudio.Properties.Resources

@{
    ViewData["Title"] = ResourcesString.MaterialConsumptionFact;
    ViewData["SaveButton"] = ElementPageResource.SaveButton;
    ViewData["BackCaption"] = ElementPageResource.BackCaption;
    ViewData["EditCaption"] = ElementPageResource.EditCaption;
}

<h1>@ViewData["EditCaption"]</h1>

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaterialConsumptionFactModel.MaterialConsumptionPlan" class="control-label"></label>
                @Html.DropDownListFor(
                        model => model.materialConsumptionPlan.SelectedItem,
                        Model.materialConsumptionPlan.Collection
                    )
                <span asp-validation-for="MaterialConsumptionFactModel.MaterialConsumptionPlan.Id" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="MaterialConsumptionFactModel.Quantity" class="control-label"></label>
                <input asp-for="MaterialConsumptionFactModel.Quantity" class="form-control" />
                <span asp-validation-for="MaterialConsumptionFactModel.Quantity" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="MaterialConsumptionFactModel.Order" class="control-label"></label>
                @Html.DropDownListFor(
                        model => model.order.SelectedItem,
                        Model.order.Collection
                    )
                <span asp-validation-for="MaterialConsumptionFactModel.Order.Id" class="text-danger"></span>
            </div>
            <br />
            <input type="hidden" asp-for="MaterialConsumptionFactModel.Id" />
            <div class="form-group">
                <input type="submit" value="@ViewData["SaveButton"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="./Index">@ViewData["BackCaption"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
