@page
@model WebKazmirenkoStudio.Pages.Purchase.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Закупки</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Caption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Caption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Shop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Shop.Caption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.PriceDelivery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.PriceDelivery)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purchase.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purchase.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Purchase?.Id">Изменить</a> |
    <a asp-page="./Index">Назад</a>
</div>
