@page
@model WebKazmirenkoStudio.Pages.ProductInOrder.DeleteModel
@using WebKazmirenkoStudio.Properties.Resources

@{
    ViewData["Title"] = ResourcesString.ProductInOrder;
    ViewData["AreYouWantDelete"] = ElementPageResource.AreYouWantDelete;
    ViewData["DeleteRecordCaption"] = ElementPageResource.DeleteRecordCaption;
    ViewData["BackCaption"] = ElementPageResource.BackCaption;
    ViewData["DeletePage"] = ElementPageResource.DeletePage;
}

<h1>@ViewData["DeleteRecordCaption"]</h1>

<h3>@ViewData["AreYouWantDelete"]</h3>
<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInOrderModel.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInOrderModel.Product.Caption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductInOrderModel.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductInOrderModel.Order.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProductInOrderModel.Id" />
        <input type="submit" value="@ViewData["DeletePage"]" class="btn btn-danger" /> |
        <a asp-page="./Index">@ViewData["BackCaption"]</a>
    </form>
</div>
